<% byebug %>
<nav class="navbar navbar-default" style="background-color: #EC5C51;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div style="margin-left: 66px">
        <%= link_to home_path do %>
          <%= image_tag 'logo.png', :size => "50x50" %>
        <% end %>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Tìm phòng đấu", thidau_path %></li>
        <li><%= link_to "Bảng xếp hạng", bangxephang_path %></li>
        <li><a href="#">Lịch sử thi đấu </a></li>
        <li><a href="#">Hướng dẫn</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? == false %>
        <li>
        <%= link_to new_user_session_path do %>
          <i class="glyphicon glyphicon-user"></i> &nbsp;Đăng nhập
        <% end %>
        </li>
        <% else %>
          <li class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style='background-color: #EC5C51'><i class="glyphicon glyphicon-user"></i> &nbsp;<%= current_user.email %>
            <span class="caret"></span></a>
            <ul class="dropdown-menu" style='background-color: #EC5C51;border-radius: 15px'>
              <li><%= link_to 'Chỉnh sửa thông tin cá nhân',edit_user_registration_path %></li>
              <li><%= link_to 'Thoát',  destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- container -->
<div class="container col-md-10">
  <div class="container-left col-sm-9">
    <div>
      <div class="container-title col-sm-6">
        <h3>DANH SÁCH PHÒNG THI ĐẤU</h3>
      </div>
      <div class="container-title-select-one col-sm-3">
        <select class="form-control select" id="sel1">
          <option>Tất cả cá lớp</option>
          <option>Lớp 2</option>
          <option>Lớp 3</option>
          <option>Lớp 4</option>
          <option>Lớp 5</option>
        </select>
      </div>
      <div class="container-title-select-two col-sm-3">
        <select class="form-control select" id="sel1">
          <option>Toán</option>
          <option>Tiếng Việt</option>
          <option>Tiếng anh</option>
          <option>Tiếng Nhật</option>
        </select>
      </div>
    </div>
    <div class="container-list-room col-sm-12">
      <ul class="nav nav-pills" id="list-rooms">
        <li class="active"><a data-toggle="pill" href="#home">Tất cả</a></li>
        <li><a data-toggle="pill" href="#menu1">1 vs 1</a></li>
        <li><a data-toggle="pill" href="#menu2">1 vs 9</a></li>
        <li style="width: 319px">
          <div class="input-group">
            <input id="email" type="text" class="form-control" name="email" placeholder="Tìm theo tên chủ phòng" style="height: 42px;">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>   
          </div>
        </li>
      </ul>
      <div class="tab-content">
         <div id="home" class="tab-pane fade in active scrollable" style="max-height: 400px; overflow: auto;">
            <table class="table table-bordered">
            <thead>
              <tr>
                <th>Số</th>
                <th>Chủ phòng</th>
                <th>Tên phòng</th>
                <th>Loại phòng</th>
                <th>Môn thi</th>
                <th>Số người</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <% @listrooms.each do |room| %>
            <tbody>
              <tr data_href="<%= phongcho_path(room) %>" >
                <td>1</td>
                <td><%#= room.users.email %></td>
                <td><%= room.tenphong %></td>
                <td><%= room.loaiphong %></td>
                <td><%= room.monthi %></td>
                <td><%= room.songuoi %></td>
                <td><%= room.trangthai %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
        <div id="menu1" class="tab-pane fade" style="max-height: 400px; overflow: auto;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Số</th>
                <th>Chủ phòng</th>
                <th>Tên phòng</th>
                <th>Loại phòng</th>
                <th>Môn thi</th>
                <th>Số người</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">1</a></td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="menu2" class="tab-pane fade" style="max-height: 400px; overflow: auto;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Số</th>
                <th>Chủ phòng</th>
                <th>Tên phòng</th>
                <th>Loại phòng</th>
                <th>Môn thi</th>
                <th>Số người</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">1</a></td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Tran Duc Thang</td>
                <td>Thi Toan lop 2</td>
                <td>Đấu tâp thể </td>
                <td>Toán</td>
                <td>2/10</td>
                <td>Đang chờ</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div><%= link_to "Tạo Phòng", new_room_path, class: 'btn btn-danger pull-right' %></div>
      </div>
    </div>
  </div>
  <div class="container-right col-sm-3"></div>
</div>
<div class="footer col-md-12">
  
</div>
